<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}"></head>
<body>
    <h1>Choosy Table</h1>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td><a href="company/{{company._id}}">{{ company.company }}</a></td>
                <td>{{ company.reviews }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}


    <p>Submit a new company review</p>
    {% if companyid %}
    <form action="/company/{{companyid}}" id="updatecompany" method="post">
        {% else %}
        <form action="/company" id="updatecompany" method="post">
            {% endif %}
            <p><input placeholder="Enter the Company's Name" type="text" name="company"></input></p>
            <p><textarea placeholder="Enter your review" name="reviews" form="updatecompany"></textarea></p>
            <p>Rating: 
                <input class="radio-inline" type="radio" name="rating" value="5">5</input>
                <input class="radio-inline" type="radio" name="rating" value="4">4</input>
                <input class="radio-inline" type="radio" name="rating" value="3">3</input>
                <input class="radio-inline" type="radio" name="rating" value="1">2</input>
                <input class="radio-inline" type="radio" name="rating" value="1">1</input>
            </p>
            <p><input type="submit" value="Submit"></input></p>
        </form>
</body>

</html>