<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Choosy Table</h1>

    <table class="table table-sm table-borderless mb-0">
        <thead class="thead-dark" style="text-align:left">
            <tr>
                <th>Created</th>
                <th>Company</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <th scope="row">{{ company.created }}</th>
                <td>{{ company.company }}</td>
                {% for review in company.reviews %}
                <td>{{ review.review }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Create or Review a Company</p>
    {% if companyid %}
        <form action="/company/{{companyid}}" method="post">
    {% else %}
        <form action="/company" method="post">
    {% endif %}
            <p>Company Name <input placeholder="Enter your name" type="text" name="name" value="{{name}}"></input></p>
            <p>Ethnicity <select name="ethnicity">
                {% for n in e %}
                    {% if n==ethnicity %}
                        <option value="{{n}}" selected>{{n}}</option>
                    {% else %}
                        <option value="{{n}}">{{n}}</option>
                    {% endif %}
                {% endfor %}
            </select></p>
            <p><input type="submit" value="Submit"></input></p>
    </form>
</body>
</html>