<!DOCTYPE html>
<html lang="en">
<head><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"></head>
<body>
    <h1>Choosy Table</h1>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ company.company }}</td>
                <td>{{ company.reviews }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}


    <p>Create or Review a Company</p>
    {% if companyid %}
    <form action="/company/{{companyid}}" method="post">
        {% else %}
        <form action="/company" method="post">
            {% endif %}
            <p>Company Name <input placeholder="Enter your name" type="text" name="name" value="{{name}}"></input></p>
            <p>Ethnicity <select name="ethnicity">
                    {% for n in e %}
                    {% if n==ethnicity %}
                    <option value="{{n}}" selected>{{n}}</option>
                    {% else %}
                    <option value="{{n}}">{{n}}</option>
                    {% endif %}
                    {% endfor %}
                </select></p>
            <p><input type="submit" value="Submit"></input></p>
        </form>
</body>

</html>