<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <ul class="styled-nav">
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <b><a href="{{ item.url }}">{{ item.label }}</a></b>
        </li>
        {% endfor %}
    </ul>
</head>
<br>
<body>
    <br>
    <br>
    <h1>Choosy Table</h1>

    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for s in r %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ s.company }}</td>
                <td>
                    {% for x in s.reviews %}
                        {{ x }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}

    <p>Hey {{x['name']}}, is your info correct?</p>
    {% if x['_id'] %}
        <form action="/person/{{x['_id']}}" method="post">
    {% else %}
        <form action="/person" method="post">
    {% endif %}
        <p>Name <input placeholder="Enter your name" type="text" name="name" value="{{x['name']}}"></input></p>
        <p>Email <input disabled=True label="Email" type="email" name="email" value="{{x['email']}}"></input></p>
        <p>Ethnicity <select name="ethnicity">
            {% for n in e %}
                {% if n==x['ethnicity'] %}
                    <option value="{{n}}" selected>{{n}}</option>
                {% else %}
                    <option value="{{n}}">{{n}}</option>
                {% endif %}
            {% endfor %}
        </select></p>
        <p><input type="submit" value="Submit"></input></p>
    </form>

    <p><a href={{url_for('company')}}>Post a Company review?</a></p>

</body>
</html>