<!DOCTYPE html>
<html lang="en">
<head><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <ul class="styled-nav">
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <b><a href="{{ item.url }}">{{ item.label }}</a></b>
        </li>
        {% endfor %}
    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
    <h1>Choosy Table</h1>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr><th>{{singlecompany.company}}</th></tr>
        </thead>
        <tbody>
            {% for r in singlecompany.reviews %}
            {% if loop.index <= 10 %}
            <tr>
                <td>{{ r }}</td>
            {% endif %}
            {% endfor %}
            </tr>
           <!-- <tr>
            {% for s in singlecompany.interviews %}
            <td>{{ s }}</td>
            {% endfor %}
            </tr>-->
        </tbody>
    </table>
    {{ pagination.links }}
    {% if pagination.total>1 %}
    <h1>{{pagination.total}} Reviews - </h1>
    {% else %}
    <h1>{{pagination.total}} Review - </h1>
    {% endif %}
    <table>
        <tr>
            <td>
                <h2>Company Rating</h2>
                <canvas id="chart" width="600" height="400"></canvas>
                <script>
                var pieData = [
                    {% for item, label, colors in set %}
                    {
                        value: parseFloat({{item}}*100).toFixed(2),
                        label: "{{label}}",
                        color : "{{colors}}"
                    },
                    {% endfor %}
                ];

                // get bar chart canvas
                var mychart = document.getElementById("chart").getContext("2d");
                steps = 10
                //max = {{ max }}

                // draw pie chart
                new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

                </script>
            </td>
            {% if singlecompany.interviews %}
            <td>
                <h2>Interview Success Rate</h2>
                <canvas id="chart1" width="600" height="400"></canvas>
                <script>
                var pieData1 = [
                    {% for values1, labels1, colors in set1 %}
                    {
                        value: {{values1}}*100,
                        label: "{{labels1}}",
                        color: "{{colors}}"
                    },
                    {% endfor %}
                ];

                // get bar chart canvas
                var mychart1 = document.getElementById("chart1").getContext("2d");
                steps = 10
                //max = {{ max }}

                // draw pie chart
                new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData1);

                </script>
            </td>
            {% endif %}
        </tr>
        {% if singlecompany.interviews %}
        <tr>
            <td>
                <h2>Most Interviewed for Position</h2>
                <canvas id="chart2" width="600" height="400"></canvas>
                <script>
                var pieData2 = [
                    {% for value2, colors in set2 %}
                    {
                        value: {{value2[1]}},
                        label: "{{value2[0]}}",
                        color : "{{colors}}"
                    },
                    {% endfor %}
                ];

                // get bar chart canvas
                var mychart2 = document.getElementById("chart2").getContext("2d");
                steps = 10
                //max = {{ max }}

                // draw pie chart
                new Chart(document.getElementById("chart2").getContext("2d")).Pie(pieData2);

                </script>
            </td>
        </tr>
        {% endif %}
    </table>
    <h2>Add a new Company review</h2>
    <form action="/company/{{singlecompany._id}}" id="updatecompany" method="post">
        <p><input disabled=True placeholder="{{singlecompany.company}}" type="text" name="company" value="{{singlecompany.company}}"></input></p>
        {{ form.csrf_token }}
        <p>{{ form.reviews.label }}<br>{{ form.reviews(size=20) }}</p>
        <p>Rating:</p>
        {% for subfield in form.rating %}
        <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <p>{{ form.submit }}</p>
    </form>

    <h2>Have you interviewed with {{singlecompany.company}}?</h2>
    <form action="/company/{{singlecompany._id}}" id="interview" method="post">
        <p><input disabled=True placeholder="{{singlecompany.company}}" type="text" name="company" value="{{singlecompany.company}}"></input></p>
        {{ form1.csrf_token }}
        <p>{{ form1.ie.label }}<br>{{ form1.ie }}</p>
        <p>Interview's Gender:</p>
        {% for subfield in form1.gender %}
        <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <p>{{ form1.position.label }}<br>{{ form1.position }}</p>
        <p>Were you offered the position?</p>
        {% for subfield in form1.win %}
        <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <p>{{ form1.submit }}</p>
    </form>
</body>

</html>