<!DOCTYPE html>
<html lang="en">
<head><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <ul class="styled-nav">
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <b><a href="{{ item.url }}">{{ item.label }}</a></b>
        </li>
        {% endfor %}
    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
    <h1>Choosy Table</h1>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr><th>{{singlecompany.company}}</th></tr>
        </thead>
        <tbody>
            {% for r in singlecompany.reviews %}
            <tr>
                <td>{{ r }}</td>
            {% endfor %}
            </tr>
            <tr>
            {% for s in singlecompany.interviews %}
            <td>{{ s }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {{ pagination.links }}
    {% if pagination.total>1 %}
    <h1>{{pagination.total}} Reviews - </h1>
    {% else %}
    <h1>{{pagination.total}} Review - </h1>
    {% endif %}
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: parseFloat({{item}}*100).toFixed(2),
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      //max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

    </script>

    <h2>Add a new Company review</h2>
    <form action="/company/{{singlecompany._id}}" id="updatecompany" method="post">
        <p><input disabled=True placeholder="{{singlecompany.company}}" type="text" name="company" value="{{singlecompany.company}}"></input></p>
        <p><textarea placeholder="Enter your review" name="reviews" form="updatecompany"></textarea></p>
        <p>Rating: 
            <input class="radio-inline" type="radio" name="rating" value="5">5</input>
            <input class="radio-inline" type="radio" name="rating" value="4">4</input>
            <input class="radio-inline" type="radio" name="rating" value="3">3</input>
            <input class="radio-inline" type="radio" name="rating" value="2">2</input>
            <input class="radio-inline" type="radio" name="rating" value="1">1</input>
        </p>

    <h2>Have you interviewed with {{singlecompany.company}}?</h2>
        <p><input disabled=True placeholder="{{singlecompany.company}}" type="text" name="company" value="{{singlecompany.company}}"></input></p>
        <p>Interviewer's Ethnicity <select name="ie">
            {% for x in iel %}
                <option value="{{x}}">{{x}}</option>
            {% endfor %}
        </select></p>
        <p>Gender: 
            {% for y in igl %}
            <input class="radio-inline" type="radio" name="ig" value="{{y}}">{{y}}</input>
            {% endfor %}
        </p>
        <p>Position Title <input placeholder="Position Title?" type="text" name="position"></input></p>
        <p>Were you offered the position? 
            <input class="radio-inline" type="radio" name="win" value="y">Yes</input>
            <input class="radio-inline" type="radio" name="win" value="n">No</input> 
        </p>
        <p><input type="submit" value="Submit"></input></p>
    </form>
</body>

</html>