<!DOCTYPE html>
<html lang="en">
<head><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <ul class="styled-nav">
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <b><a href="{{ item.url }}">{{ item.label }}</a></b>
        </li>
        {% endfor %}
    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
    <h1>Choosy Table</h1>
    {{ pagination.info }}
    {{ pagination.links }}
    <table class="styled-table">
        <thead>
            <tr><th>{{singlecompany.company}}</th></tr>
        </thead>
        <tbody>
            {% for r in singlecompany.reviews %}
            <tr><td>{{ r }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
    {% if pagination.total>1 %}
    <h1>{{pagination.total}} Reviews - </h1>
    {% else %}
    <h1>{{pagination.total}} Review - </h1>
    {% endif %}
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: parseFloat({{item}}*100).toFixed(2),
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      //max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

    </script>

    <p>Add a new review</p>
    <form action="/company/{{singlecompany._id}}" id="updatecompany" method="post">
        <p><input disabled=True placeholder="{{singlecompany.company}}" type="text" name="company" value="{{singlecompany.company}}"></input></p>
        <p><textarea placeholder="Enter your review" name="reviews" form="updatecompany"></textarea></p>
        <p>Rating: 
            <input class="radio-inline" type="radio" name="rating" value="5">5</input>
            <input class="radio-inline" type="radio" name="rating" value="4">4</input>
            <input class="radio-inline" type="radio" name="rating" value="3">3</input>
            <input class="radio-inline" type="radio" name="rating" value="2">2</input>
            <input class="radio-inline" type="radio" name="rating" value="1">1</input>
        </p>
        <p><input type="submit" value="Submit"></input></p>
    </form>
</body>

</html>