body {background-color: #ffffff;}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: 202020;
    background: #FFDF6C;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #707070;
    color: #202020;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #3F3F3F;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3F3F3F;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3F3F3F;
}

td:hover { /* th:hover also if you wish */
    background: #FFDF6C;
  }

  .styled-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .styled-nav li {
    float: left;
    background-color: #707070;
    list-style-type: none;
  }
  
  .styled-nav li a {
    display: block;
    color: #202020;
    text-align: left;
    padding: 16px;
    text-decoration: none;
  }
  
  .styled-nav li a:hover {
    background-color: #FFDF6C;
  }